{% extends 'layout.html' %}
{% block title %}
    Software And Creative Agency
{% endblock %}
{% block content %}
<section class="position-relative bg-dark p-0">
  <!-- Email link left -->
  <div
    class="
      position-absolute
      bottom-67
      start-n152
      m-6
      z-index-9
      d-none d-xxl-block
      transform-90
    "
  >
    <a href="mailto:support@sentientafrica@gmail.com" class="text-white lead"
      >support@sentientafrica.com</a
    >
  </div>
  <!-- Social sites link right -->
  <div
    class="position-absolute bottom-0 end-0 m-6 z-index-9 d-none d-xxl-block"
  >
    <div class="d-flex">
      <h6 class="text-white mt-2 me-4">Follow us:</h6>
      <div class="list-group-inline list-unstyled text-primary-hover">
        <a href="#" class="list-group-item text-white bg-transparent">Fb</a>
        <a href="#" class="list-group-item text-white bg-transparent">Tw</a>
        <a href="#" class="list-group-item text-white bg-transparent me-0"
          >In</a
        >
      </div>
    </div>
  </div>

  <!-- Banner START -->
  <div class="h-500 h-sm-600 h-lg-800">
    <!-- Slide 1 START -->
    <div
      class="h-500 h-sm-600 h-lg-800 bg-dark-overlay-4 bg-dark"
      style="
        background-image: url(../static/images/bg/10.jpg);
        background-position: center center;
        background-size: cover;
      "
    >
      <div class="container h-100">
        <div class="row d-flex h-100">
          <div
            class="
              col-md-8 col-xl-7
              justify-content-center
              align-self-center align-items-start
            "
          >
            <div class="text-start">
              <h2
                class="
                  animate__animated animate__fadeInUp
                  text-white
                  display-5
                  d-block
                "
              >
                Successfully achieve your business goals with a leading
                <span class="text-white-stroke"
                  >software development agency
                </span>
              </h2>
              <p
                class="
                  animate__animated animate__fadeInUp animate__delay-1s
                  lead
                  text-white
                  mt-0 mt-md-4
                "
              >
                Grow your business, save time, and create beautiful custom
                software that delivers outstanding results
              </p>
              <div
                class="
                  animate__animated animate__fadeInUp
                  mt-4
                  animate__delay-2s
                "
              >
                <a href="#call" class="btn btn-primary btn-lg btn-line"
                  >Schedule a free expert call</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Slide 1 END -->
  </div>
</section>
<!-- =======================
        Main banner END-->

<section class="pt-5">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-6">
        <h2 class="">
          Take your business to the next level with
          <span class="text-primary-stroke">top-quality software</span>
          development
        </h2>
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <p class="p">
          Custom software has the power to transform your business. From
          internal process automation and support for key business operations to
          cutting-edge customer-facing platforms, company-specific solutions can
          be the missing link in propelling your business forward.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h3 class="h3 mb-5">
          Good living properties added
          <span class="text-primary">KES. 2m</span> in revenue thanks to their
          custom property management platform top-quality software development
        </h3>
        <h4 class="mb-3">Property management Platform</h4>
        <p>
          It took Good living properties less than 6 months to build its
          platform, scale up, and accumulate close to KES. 2m in extra funds
          from saving up cost on extra services
        </p>
      </div>
      <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <img
          class="w-100"
          src="../static/images/bg/solaris-bank.jpg"
          alt="Good Living"
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="mb-3">
          Take <span class="text-primary">full control</span> of your business
          processes
        </h3>
        <p class="mb-5">
          Bring maximum value to your business and define your brand through
          custom app development
        </p>
      </div>
    </div>
    <div class="row">
      <!-- Service item -->
      <div class="col-md-3 mb-4 text-center">
        <figure class="icon_title">
          <i class="h2 mb-0 text-primary bi bi-sliders"></i>
        </figure>
        <h5 class="my-3">Bespoke systems</h5>
        <p>
          Enjoy custom-made software solutions crafted with your unique needs
          and future plans in mind
        </p>
      </div>
      <!-- Service item -->
      <div class="col-md-3 mb-4 text-center">
        <figure class="icon_title">
          <i class="h2 mb-0 text-primary bi bi-graph-up"></i>
        </figure>
        <h5 class="my-3">Improved business processes</h5>
        <p>
          Boost employee productivity by providing effective management tools
          for your business operations
        </p>
      </div>
      <!-- Service item -->
      <div class="col-md-3 mb-4 text-center">
        <figure class="icon_title">
          <i class="h2 mb-0 text-primary bi bi-grid-1x2"></i>
        </figure>
        <h5 class="my-3">Efficient use of resources</h5>
        <p>
          Let nothing go to waste as your bespoke software solution helps you
          manage your company’s assets
        </p>
      </div>
      <!-- Service item -->
      <div class="col-md-3 mb-4 text-center">
        <figure class="icon_title">
          <i class="h2 mb-0 text-primary bi bi-diagram-3"></i>
        </figure>
        <h5 class="my-3">Process automation</h5>
        <p>
          Automate repetitive tasks and focus your employees’ attention on
          what’s truly crucial for your business
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0 pt-0">
  <div class="container">
    <div class="row d-flex justify-content-lg-between align-items-center">
      <!-- Inner intro title -->
      <div class="col-sm-10 col-lg-7">
        <div class="d-flex">
          <ul class="list-unstyled d-flex mb-4 me-2">
            <li><i class="fas fa-star text-warning me-1"></i></li>
            <li><i class="fas fa-star text-warning me-1"></i></li>
            <li><i class="fas fa-star text-warning me-1"></i></li>
            <li><i class="fas fa-star text-warning me-1"></i></li>
            <li><i class="fas fa-star text-warning me-1"></i></li>
          </ul>
          <p>
            <span class="font-alt fw-normal display-8 d-block mb-2 mt-4"
              >Trusted by 1K+ industry leaders</span
            >
          </p>
        </div>
        <h2 class="display-7">Testimonials</h2>
        <p>
          Don't go with our words only. Hear some of the reviews our clients
          have to say about what it's really like to work with our team.
        </p>
      </div>
      <div class="col-sm-2 col-lg-3 text-sm-end">
        <i class="bi bi-chat-left-quote text-primary display-2 opacity-1"></i>
      </div>
    </div>
    <!-- Row END -->
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-dark p-4 p-md-5">
          <!-- Avatar and info-->
          <div class="d-flex mb-4">
            <div class="avatar">
              <img
                class="avatar-img rounded-circle"
                src="../static/images/avatar/bmr.png"
                alt="author image"
              />
            </div>
            <div class="ms-3 my-2 text-start text-white-force">
              <h6 class="mb-0">Marvin Okoth</h6>
              <p class="mb-0">Management, Black market Records</p>
            </div>
          </div>
          <!-- Testimonial text -->
          <p class="text-white lead">
            Our cooperation with Sentient Africa is a true partnership. Whenever
            we faced challenges this year, we could rely on Sentient Africa for
            our urgent staffing needs and time-critical deliverables. The
            Sentient Africa team has gone above and beyond any expectations of
            what a strong and reliable partner can be. It's a pleasure to
            continue our growth with such an outstanding tech company.
          </p>
          <!-- Footer -->
          <div class="d-flex justify-content-between mt-5">
            <img src="../static/images/clients/colored/bmr.png" alt="" />
            <a href="#" class="btn btn-line text-white mb-0">View Project</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="bg-light p-4 p-md-5">
          <!-- Avatar and info-->
          <div class="d-flex mb-4">
            <div class="avatar">
              <img
                class="avatar-img rounded-circle"
                src="../static/images/avatar/proper_booking.png"
                alt="Tedd Inspires Image"
              />
            </div>
            <div class="ms-3 my-2 text-start">
              <h6 class="mb-0">Tedd Inspires</h6>
              <p class="mb-0">CEO, Proper Bookings, Inc</p>
            </div>
          </div>
          <!-- Testimonial text -->
          <p class="lead">
            Time and again the team at Sentient Africa has gone above and beyond
            in delivering world class services to me and my team. They are
            always cheerful, polite and genuine. You can tell that they are
            eager to be of service. That is why I always come back to them for
            my software needs and it is why I constantly recommend them.
          </p>
          <!-- Footer -->
          <div class="d-flex justify-content-between mt-5">
            <img
              src="../static/images/clients/colored/proper_bookings.png"
              alt=""
            />
            <a
              href="https://properbookings.com"
              class="btn btn-line text-dark mb-0"
              >View Project</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="h3 mb-3">
          Develop software that gives you a
          <span class="text-primary">competitive edge</span> using the
          <span class="text-primary-stroke">latest technologies</span>
        </h3>
        <p class="mb-5">
          Following careful examination of your business needs, our expert team
          will recommend the best strategy to successfully achieve your goals.
        </p>
        <a href="#call" class="btn btn-lg btn-line btn-primary mb-0"
          >Schedule a free expert session</a
        >
      </div>
      <div class="col-lg-6">
        <div class="d-flex">
          <!-- Service item -->
          <div class="mb-4">
            <figure class="icon_title">
              <i class="h2 mb-0 text-primary bi bi-stack"></i>
            </figure>
            <h5 class="my-3">Big Data solutions</h5>
            <p>
              Transform decision-making processes and make insightful
              data-driven business decisions
            </p>
          </div>
          <!-- Service item -->
          <div class="mb-4 px-2">
            <figure class="icon_title">
              <i
                class="h2 mb-0 text-primary bi bi-layout-text-window-reverse"
              ></i>
            </figure>
            <h5 class="my-3">Digital Transformation services</h5>
            <p>
              Safeguard the future success of your company and stay competitive
              in the global market
            </p>
          </div>
        </div>

        <div class="d-flex">
          <!-- Service item -->
          <div class="mb-4">
            <figure class="icon_title">
              <i class="h2 mb-0 text-primary bi bi-cloud-check"></i>
            </figure>
            <h5 class="my-3">Cloud-based app development</h5>
            <p>
              Effortlessly speed up development, improve final product quality,
              and increase productivity
            </p>
          </div>
          <!-- Service item -->
          <div class="mb-4 px-2">
            <figure class="icon_title">
              <i class="h2 mb-0 text-primary bi bi-terminal"></i>
            </figure>
            <h5 class="my-3">Web and mobile development</h5>
            <p>
              Deliver maximum value to your business with stunning custom web or
              mobile software
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>
          Where should you start with
          <span class="text-primary">custom software development?</span>
        </h2>
      </div>
      <div class="col-lg-6">
        <p class="mt-2">
          When approaching custom software solutions,
          <span class="fw-bold"
            >it’s important to choose a software development agency that has the
            processes,</span
          >
          tools, experience, and internal culture to make your project a
          success.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- =======================
        Work Process START -->
<section class="bg-light pattern-overlay-7 pb-2">
  <div class="container">
    <div class="row">
      <!-- Step item -->
      <div class="col-sm-12 col-md-3 mb-5">
        <div class="d-flex">
          <h2
            class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow"
          >
            01
          </h2>
          <div>
            <h4>Research</h4>
          </div>
        </div>
      </div>
      <!-- Step item -->
      <div class="col-sm-12 col-md-3 mb-5">
        <div class="d-flex">
          <h2
            class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow"
          >
            02
          </h2>
          <div>
            <h4>Scoping session</h4>
          </div>
        </div>
      </div>
      <!-- Step item -->
      <div class="col-sm-12 col-md-3 mb-5">
        <div class="d-flex">
          <h2
            class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow"
          >
            03
          </h2>
          <div>
            <h4>Project set-up</h4>
          </div>
        </div>
      </div>
      <!-- Step item -->
      <div class="col-sm-12 col-md-3 mb-5">
        <div class="d-flex">
          <h2
            class="display-3 mt-lg-n3 me-3 text-light-stroke text-light-shadow"
          >
            04
          </h2>
          <div>
            <h4>Project kickoff</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
        Work Process END -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="mx-5">
          <div id="software">
            <h3 class="my-4">Software Development</h3>
            <p>
              We live in a world of constant technological change. Businesses
              now have a wealth of cutting-edge solutions at their disposal to
              remain competitive, such as computer science, Big Data, Business
              Intelligence, and Machine Learning.
              <span class="fw-bold"
                >As trends and technologies shift so quickly, choosing the right
                software development partner can be a key factor determining
                your success or failure on the market.</span
              >
              At Sentient Africa, we value your business and are committed to
              helping you make the best possible decisions.
            </p>
            <p>
              Whatever your idea, we’ll work with you to build an amazing
              product through web and mobile application development, full
              consulting services, project management, data management, and
              more. Outstanding custom software allows you to meet users’
              increasingly demanding expectations and can be a differentiating
              factor in attracting new users. When you partner with Sentient
              Africa, you can rely on our strong focus on efficiency,
              scalability, and compelling designs.
            </p>
            <p>
              We work to industry best practices and use the agile and scrum
              software development methodologies, ensuring that the development
              process meshes seamlessly with your internal procedures. The
              Sentient Africa team will take you through the entire lifecycle of
              your software product, expertly helping you to tailor it to your
              market for maximum impact and allowing you to capitalize on
              emerging and established trends.
            </p>
          </div>
          <div id="web">
            <h3 class="my-4">Web applications</h3>
            <p>
              Build web applications with the world’s most trusted and popular
              web development technologies, including Ruby on Rails, JavaScript,
              Python with Django, and Php with Laravel. Whatever your dream, we
              can help you bring your web project to life. We believe that
              top-quality software is created through passion, dedication, and
              problem-solving based on real experience. Our team shares your
              curiosity and excitement fully during every project, caring as
              much about its success as you do.
            </p>
          </div>
          <div id="mobile">
            <h3 class="my-4">Mobile applications</h3>
            <p>
              Build stunning, usable mobile experiences for various platforms
              and devices. Remember that iOS users expect consistency and
              quality, while Android apps have to accommodate a large variety of
              screen sizes and device capabilities. Look for JavaScript experts
              fluent in all the trusted frameworks that make apps like Facebook
              great.
            </p>
            <p>
              At Sentient Africa, we’ve built mobile apps for small and large
              businesses, and have experience in numerous industries. Our focus
              is to make sure that the custom mobile apps we build serve users,
              delivering real value and a smooth experience regardless of the
              circumstances in which they’re used.
            </p>
            <p>
              The mobile market is growing rapidly. Major players in every
              industry recognize this and are investing in mobile solutions to
              stay connected to their user base. An increasing number of people
              now choose to interact with the digital world through their phones
              rather than desktop computers.
            </p>
            <p>
              As the market grows and users become more savvy, development
              companies need to deliver better experiences, anticipating needs,
              and evaluating trends. As technological partners, they need to be
              ready to advise clients on critical choices and take this
              responsibility seriously.
            </p>
          </div>
          <div id="qa">
            <h3 class="my-4">Manual testing, QA, and test automation</h3>
            <p>
              Quality assurance is an extremely important part of the software
              development process. In a world where users make split-second
              decisions to either continue using an app or uninstall it, it’s
              crucial to focus on quality.
            </p>
            <p>
              One way of doing this is by maintaining a team of skilled and
              dedicated QA experts. If you go through every app manually, you
              can ensure that users will enjoy their experience with the
              products we build.
            </p>
            <p>
              Automated tests are also a big part of Quality Assurance. Not
              everything that can be done manually should be done manually –
              some tasks are repetitive, and sometimes automation can provide
              better results. What matters is choosing the right solution for
              each problem. Writing automated tests for every project will make
              your QA process thorough and reliable.
            </p>
          </div>
          <div id="consulting">
            <h3 class="my-4">Software consulting</h3>
            <p>
              If you want to create an exceptional software product, don’t look
              for just another software development agency. Find experts who are
              always happy to answer your questions, and glad to share their
              knowledge through consulting. Start with a scoping session to plan
              your project out and consider a product design sprint to rapidly
              gather information and focus your requirements. The ultimate goal
              of any software development partner should be to deliver as much
              value to their client’s business as possible, going above and
              beyond expectations.
            </p>
          </div>
          <div id="business">
            <h3 class="my-4">Addressing your business challenges</h3>
            <p>
              Approach every project from the perspective of real business value
              for your company. Custom software should suit your needs
              perfectly, complementing your company’s existing internal
              processes, supporting your employees in their daily activities,
              and helping you to open up new growth opportunities.
            </p>
            <p>
              The possibilities presented by the advances in modern technology
              are endless. Innovative marketplaces, drone systems, automated
              image editing with Machine Learning, and many more amazing
              solutions can be introduced to mature business models. For every
              business challenge, there’s at least one possible answer provided
              by computer science that can be applied with efficiency and
              scalability in mind.
            </p>
          </div>
          <div id="innovation">
            <h3 class="my-4">Digital innovation</h3>
            <p>
              We live in the age of digital transformation. Innovation reigns
              supreme in industries, from transportation and commerce to
              healthcare and finance. Large companies use technology to gain
              competitive advantage, improve conversions, build deeper
              connections with their customers, and make their processes more
              efficient.
            </p>
            <p>
              Startups and smaller companies create innovative technological
              solutions to disrupt their markets and become new industry
              leaders, creating their own niches. Top software development
              engineers are ready to be there with their clients every step of
              the way, building amazing tools and solutions together, delighting
              users, and meeting business goals.
            </p>
          </div>
          <div id="custom">
            <h3 class="my-4">Who is custom software development for?</h3>
            <p>
              Custom software is a great option if you’re looking for an
              innovative way to drive your business forward or support digital
              transformation. There’s no limit to the size of a company that can
              benefit from custom software development – from small businesses
              to enterprise-sized organizations, if you have a business problem
              that can be solved by smart software, we can help you bring it to
              life.
            </p>
            <p>
              At Sentient Africa, we take the time to understand your business
              and what you are trying to achieve. We’ve helped companies in
              industries such as banking, healthcare, manufacturing,
              telecommunications, and retail create game-changing intelligent
              software solutions. Whether you need a simple product or have a
              complex idea that involves cutting-edge technologies like machine
              learning or big data, we have the experience and expertise to help
              you navigate the process from end to end.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="position-sticky top-n1">
          <h4 class="mb-4">Contents</h4>
          <div class="d-flex flex-column">
            <a href="#software" class="mt-4"> Software Development </a>
            <a href="#web" class="mt-4"> Web Applications </a>
            <a href="#mobile" class="mt-4"> Mobile Aplications </a>
            <a href="#qa" class="mt-4"> Manual Testing QA and Test </a>
            <a href="#consulting" class="mt-4"> Software Consulting </a>
            <a href="#business" class="mt-4">
              Addressing your Business challenges
            </a>
            <a href="#innovation" class="mt-4"> Digital Innovation </a>
            <a href="#custom" class="mt-4">
              Who is custom software development for?
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>
          Build a
          <span class="text-primary">revolutionary product</span> with an
          experienced software development agency
        </h2>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <p>
          Partnering with Sentient Africa gives you access to a motivated team
          that not only has the experience and expertise to deliver outstanding
          software products but also the business acumen to help you exploit the
          opportunities in your industry. From high-quality mobile application
          and web development to product design services, Sentient Africa has
          helped companies across a broad range of industries bring their
          visions to life.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-0 mt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <figure class="img-cover">
          <img src="../static/images/works/babbel-cs-1.png" />
        </figure>
      </div>
      <div class="col-lg-6">
        <div class="info">
          <h3 class="mb-4">
            An online delivery platform for liquor businesses
          </h3>
          <h5 class="mb-3">Working with SoftIQ Technologies</h5>
          <p class="mb-3">
            SoftIQ has been incredibly successful in the B2C market. And when
            market research and analysis showed growth potential in the B2B
            market, SOftIQ decided to extend the existing application to
            capitalize on the opportunity.
          </p>
          <p>
            The Sentient Africa design and development team helped the company
            build an additional app module that would prepare it for a new B2B
            strategy and empower SoftIQ’s administrators to manage their users
            with more flexibility.
          </p>
          <p class="mb-5">
            Today, SOftIQ supports lots of vendors in the liquor business from
            South B, Westlands, Adams, Kilimani, Garden Estate, and Lang'ata.
          </p>
          <a href="#" class="btn btn-lg btn-line btn-primary mb-0"
            >Read the case study</a
          >
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="info">
          <h3 class="mb-4">
            Designing the <span class="text-primary">agents app</span> for the
            Kenya’s leading developer of luxury homes
          </h3>
          <h5 class="mb-3">Digital transformation</h5>
          <p class="mb-3">
            The team at Setient Africa has been instrumental in helping Good
            Living to produce a comprehensive digital product that delivers a
            range of features. Agents are now able to effortlessly browse
            through the latest offers and check all relevant property details,
            including the size, location, and specifications, amongst other
            additional features.
          </p>
          <p class="mb-5">
            The app also has an in-built calculator that enables agents to
            automatically estimate a mortgage for their clients along with a
            Sales Offer Creator that allows them to generate a PDF file in just
            a few clicks. The platform was designed and developed for both iOS
            and Android systems to ensure maximum coverage of the target
            audience.
          </p>
          <a href="#" class="btn btn-lg btn-line btn-primary mb-0"
            >Read the case study</a
          >
        </div>
      </div>
      <div class="col-lg-6">
        <figure class="img-cover">
          <img src="../static/images/works/realestate.jpg" />
        </figure>
      </div>
    </div>
  </div>
</section>

<section class="mt-0 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="mb-4 text-primary">
          Custom software development: all your questions answered
        </h3>
        <p class="mb-3">
          Not sure how custom software developments can bring value to your
          business? Check out some of the most common questions asked by our
          clients.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="accordion accordion-icon" id="accordionmemberfaq">
          <div class="accordion-item">
            <h5 class="accordion-header" id="heading-10">
              <button
                class="accordion-button fw-bold collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-10"
                aria-expanded="false"
                aria-controls="collapse-10"
              >
                How do I ensure the security of my app?
              </button>
            </h5>
            <div
              id="collapse-10"
              class="accordion-collapse collapse"
              aria-labelledby="heading-10"
              data-bs-parent="#accordionmemberfaq"
              style=""
            >
              <div class="accordion-body">
                <p>
                  It's crucial to
                  <span class="fw-bold"
                    >continuously monitor any errors that occur in your
                    application.</span
                  >
                  You also have to be sure to diligently fix the errors you
                  detect and implement processes to ensure that the same
                  vulnerabilities will not reoccur. A good way of doing this is
                  by
                  <span class="fw-bold"
                    >introducing a rigorous testing methodology.</span
                  >
                </p>
                <p>
                  Moreover, adding new features at the maintenance stage often
                  means using a new API or library – you should have a mechanism
                  in place that will allow you to verify that any given
                  technology won’t compromise your security profile.
                </p>
                <p>
                  Finally, as your application grows, you might need to
                  <span class="fw-bold"
                    >change hosting providers or expand your
                    infrastructure</span
                  >
                  by using a new provider or service. It is critical that this
                  process is conducted in a well-thought-out, planned, and
                  conscientious manner so as not to introduce any weaknesses
                  which may compromise your application’s security.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="heading-11">
              <button
                class="accordion-button fw-bold collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-11"
                aria-expanded="false"
                aria-controls="collapse-11"
              >
                How to effectively scale my web application?
              </button>
            </h5>
            <div
              id="collapse-11"
              class="accordion-collapse collapse"
              aria-labelledby="heading-11"
              data-bs-parent="#accordionmemberfaq"
              style=""
            >
              <div class="accordion-body">
                <p>Well it depends. But there are certain rules to follow:</p>
                <ol>
                  <li>Keep your code clean</li>
                  <li>Leverage 12factor</li>
                  <li>Take care of your database</li>
                  <li>Prevent problems with queries</li>
                  <li>Choose the right hosting</li>
                  <li>Track caching</li>
                  <li>Prepare for load balancing</li>
                  <li>Relieve the backend</li>
                  <li>Test and monitor</li>
                  <li>Optimize</li>
                  <li>Separate code</li>
                  <li>Update on a regular basis</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header" id="heading-12">
              <button
                class="accordion-button fw-bold collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-12"
                aria-expanded="false"
                aria-controls="collapse-12"
              >
                What is application scalability?
              </button>
            </h5>
            <div
              id="collapse-12"
              class="accordion-collapse collapse"
              aria-labelledby="heading-12"
              data-bs-parent="#accordionmemberfaq"
            >
              <div class="accordion-body">
                An application’s scalability is the potential of an application
                to grow over time, being able to efficiently handle more and
                more requests per minute (RPM). It’s not just a simple tweak you
                can turn on or off; it’s a long-time process that touches almost
                every single item in your stack, including both the hardware and
                software sides of the system.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>
          Curious whether Sentient Africa is the
          <span class="text-primary">right fit</span> for your project?
        </h2>
      </div>
      <div class="col-lg-6">
        <p>
          We understand that every project is different and requires an
          individual approach. That is why we offer a
          <span class="fw-bold">free consulting session</span> with an
          experienced software developer. During the session, you will have a
          chance to find out which software solutions are the right fit for your
          project and how working with Sentient Africa may look like.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mt-0 pt-0" id="call">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-wrapper">
          <h2>
            Schedule a
            <span class="text-primary">free expert session</span> with Sentient
            Africa's Head of Delivery
          </h2>
        </div>
      </div>
      <div class="col-lg-6">
          {% if message %}
              <p class="text-danger2">{{ message | safe }}</p>
          {% endif %}
        <form
          class="contact-form"
          id="contact-form"
          name="contactform"
          method="POST"
          action="/consultation"
        >
          <!-- Main form -->
          <div class="row">
            <div class="col-md-6">
              <!-- name -->
              <div class="mb-3">
                <label class="fom-label" for="con-name">First name <span class="text-danger2">*</span></label>
                <input
                  required=""
                  id="con-name"
                  name="fname"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <!-- email -->
              <div class="mb-3">
                <label class="fom-label" for="con-lname">Last name <span class="text-danger2">*</span></label>
                <input
                  required=""
                  id="con-lname"
                  name="lname"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <!-- name -->
              <div class="mb-3">
                <label class="fom-label" for="con-email">Email <span class="text-danger2">*</span></label>
                <input
                  required=""
                  id="con-email"
                  name="email"
                  type="email"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-6">
              <!-- email -->
              <div class="mb-3">
                <label class="fom-label" for="con-company">Company name <span class="text-danger2">*</span></label>
                <input
                  required=""
                  id="con-company"
                  name="company"
                  type="text"
                  class="form-control"
                />
              </div>
            </div>
            <div class="col-md-12">
              <!-- Subject -->
              <div class="mb-3">
                <label class="fom-label" for="department"
                  >Which department are you from?– Required field
                  <span class="text-danger2">*</span></label
                >
                <select
                  class="form-select"
                  id="department"
                  aria-label="Default select example"
                  name="department"
                >
                  <option selected disabled>Open this select menu</option>
                  <option value="Top Management/Leadership">Top Management/Leadership</option>
                  <option value="Product Management">Product Management</option>
                  <option value="Technology/Engineering/R&D">Technology/Engineering/R&D</option>
                  <option value="Design">Design</option>
                  <option value="Marketing">Marketing</option>
                  <option value="Sales">Sales</option>
                  <option value="Finance/Accounting">Finance/Accounting</option>
                  <option value="Training/Education">Training/Education</option>
                  <option value="Operations/Administrative">Operations/Administrative</option>
                  <option value="Support/Customer Service">Support/Customer Service</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
            <div class="col-md-12">
              <!-- Message -->
              <div class="mb-3">
                <label class="fom-label" for="role"
                  >What job role describes you the best?– Required field
                  <span class="text-danger2">*</span></label
                >
                <select
                  class="form-select"
                  id="role"
                  aria-label="Default select example"
                  name="role"
                >
                  <option selected disabled>Open this select menu</option>
                  <option value="Founder/C-level Executive">Founder/C-level Executive</option>
                  <option value="Department Director/Product Director">
                    Department Director/Product Director
                  </option>
                  <option value="Manager/Team Leader">Manager/Team Leader</option>
                  <option value="Other">Other</option>
                </select>
              </div>
            </div>
              <div class="col-md-12">
              <!-- Message -->
              <div class="mb-3">
                <label for="textarea" class="form-label">Extra Details (optional)</label>
                <textarea class="form-control" id="textarea" name="details" rows="3"></textarea>
              </div>
            </div>
            <!-- submit button -->
            <div class="col-md-12 text-start mt-3">
              <button class="btn btn-primary btn-line" type="submit">
                Schedule your free expert session
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="back-top back-top-show">
  <div class="scroll-line"></div>
  <span class="scoll-text">Go Up</span>
</div>
{% endblock %}
